@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:white;
}

body {
    height: 100vh;
    font-family: "Quicksand";
    font-weight: 600;
    background: linear-gradient(45deg, #e91e63, #ff9800, #23A6D5, #232323);
    background-size: 400% 400%;
    animation: backgroud-animation 10s ease-in-out infinite;
}

#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
  }

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    animation: content-animation 1s ease;
    z-index: 998;
    padding: 1rem 0;
    width: 17rem;
    height: 31rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform 1s linear;
}

.front-card, .back-card {
    position: absolute;
    width: 17rem;
    height: 31rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: .3rem solid rgba(255, 255, 255, 0.8);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    backface-visibility: hidden;
}

.front-card {
    transform: perspective(600px) rotateY(0deg);
}

.card-img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 80%);
}

.profile-img {
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -12rem;
    z-index: 999;
    border: .3rem solid rgba(255, 255, 255, 0.8);
}

.front-card h1 {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
    text-transform: uppercase;
}

.front-card .job-title {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
}

.front-card .about {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 1rem 0;
    flex: auto;
    text-align: center;
    color: white;
}

.btn {
    padding: 0.4rem 0.6rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border: .1rem solid white;
    margin: .1rem 0;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    transition: all .2s;
}

.btn:hover {
    transform:  translateY(-2px);
    box-shadow: .3rem .3rem 0.8rem rgba(0, 0, 0, .5);
}

.btn:active {
    transform:  translateY(0);
    box-shadow: none;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.back-card {
    transform: perspective(600px) rotateY(-180deg);
}

.back-card h2 {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
    text-transform: uppercase;
}

.back-card .phone {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
}
.back-card .email {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.back-card .space-back {
    flex: auto;
}

.back-card .phone,
.back-card .email {
    padding: 0.3rem;
    border-radius: .2rem;
    transition: all .2s;
}

.back-card .phone:hover,
.back-card .email:hover {
    transform:  translateY(-2px);
    box-shadow: .3rem .6rem .9rem rgba(0, 0, 0, .5);
}

.back-card .phone:active,
.back-card .email:active {
    transform:  translateY(0);
    box-shadow: none;
}

.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0.6rem 0;
    margin-top: 0.5rem;
    border-top: 0.1rem solid rgba(255, 255, 255, .2);
}

.social-media i {
    font-size: 2rem;
    color: white;
    transition: all .2s;
}

.social-media i:hover {
    transform:  translateY(-2px);
    box-shadow: .3rem .3rem 0.8rem rgba(0, 0, 0, .5);
}

.social-media i:active {
    transform:  translateY(0);
    box-shadow: none;
}

@keyframes backgroud-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes content-animation {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}